@charset "UTF-8";
p{
	<%
	switch(rand){
		case 0:
			color:red;
			break;
		case 1:
			color:orange;
			break;
		case 2:
			color:pink;
			break;
		default:
			color:white;
			background-color:black;
			break;
	}
}